{% extends "base.html" %}

{% block title %}Bmail login{% endblock title %}

{% block specifika %}

    <h2>Messages <small>This is what people want from you.</small></h2>

    <table class="table table-hover">
        <tr>
            <th>From</th>
            <th>Message</th>
            <th>Time</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>



{% endblock specifika %}