{% extends "base.html" %}

{% block title %}Sent messages{% endblock title %}

{% block specifika %}

    <h2>Sent messages <small>Everything you've asked of people.</small></h2>

    <div class="container-fluid">
    <div class="row">
    <table class="table table-hover">
        <tr>
            <div class="col-md-4"><th>To</th></div>
            <div class="col-md-6"><th>Message</th></div>
            <div class="col-md-1"><th>Time</th></div>
        </tr>
        <tr>

            <td></td>
            <td></td>
            <td></td>

        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    </div>
    </div>
{% endblock specifika %}